[package]
name = "llkv-expr"
description = "Query expression AST for the LLKV toolset."
authors.workspace = true
version.workspace = true
edition.workspace = true
license.workspace = true
repository.workspace = true
publish.workspace = true

[dependencies]
